<!-- 

This launch file shows how to start a hokuyo node with intensity mode
turned on.

You may have to change the port parameter if your laser is not at
/dev/ttyACM0.

If you have rviz built, you can uncomment the rviz node to visualize the
laser data.

Otherwise, you can use rostopic to see the data:
rostopic echo /scan

-->

<launch>
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
  
    <!-- Starts up faster, but timestamps will be inaccurate. --> 
    <param name="calibrate_time" type="bool" value="false"/> 
    
    <!-- Set the port to connect to here -->
    <param name="port" type="string" value="/dev/ttyACM0"/> 
    
    <param name="intensity" type="bool" value="true"/>
  </node>
  
  <!-- 
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find hokuyo_node)/hokuyo_test.vcg"/>
  -->
  
</launch>
